# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz
*.xml.versionsBackup
target/
.mvn
mvnw
mvnw.cmd
**/.flattened-pom.xml

# eclipse ignore
.settings/
.project
.classpath

#STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*gradle/

# temp ignore
*.cache*
*.doc
*.log
*.requestCache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db